# Ignore files in data, processed, and reports folders
data/*
!data/.gitkeep

processed/*
!processed/.gitkeep

reports/*
!reports/.gitkeep

venv/

__pycache__/
*.pyc

.vscode/

.env

node_modules/

tests/